Package: org.mtmdev.YewTube
Name: YewTube
Version: 1.0.1
Depends: firmware (>= 5.0), appsync
Architecture: iphoneos-arm
Description: A YouTube client made in Objective-C utilizing the power of Invidious.
Homepage: http://mtmdev.org
Maintainer: Electimon <electimon@gmail.com>
Author: Electimon <electimon@gmail.com>
Icon: http://2pwn.tk/dev/icons/YewTube.png
Section: Internet
